NODE_ENV=dev

# App:
APP_NAME=MissionAPP
APP_PORT=3333
JWT_SECRET=R7YqVb9zXfK2n4uP3tLsWhJcEg1ABvZdTQMiN0oGpUeCyxLr5HaDmZjSXFkwEt
HASH_SALT_ROUNDS=8

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/backend?schema=public"

FRONTEND_URL="http://localhost:5173"
